{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>Post</h1>


<ul class="home_detail">
    {% for post in object_list %}

        <div class="cards">
            {% if post.header_image %}
                <a href="{% url 'article-detail' post.pk %}"><img src="{{ post.header_image.url }}" alt="no image"></a>
                <span class="text">{{ post.title }}</span>
                <span class="text">{{ post.snippet }}</span>
            {% else %}

                <a href="{% url 'article-detail' post.pk %}" class="text"> {{ post.title }}</a>
                <span class="text">{{ post.snippet }}</span>

            {% endif %}

            {% if user.is_authenticated %}
                {% if user.id == post.author.id%}
                    <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                    <br>
                {% endif %}
            {% else %}
            <br>
            {% endif %}
        </div>
        
    {% endfor %}
</ul>

<nav aria-label="Page navigation example">
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">



        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>

            {% for i in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}

            <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        
        {% else %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>

            {% for i in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}

            <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        
        {% endif %}


    </ul>
    {% endif %}
  </nav>
            <!-- <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span> -->
    
</body>
</html>


{% endblock %}