{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'Blog/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>User Profile...</h1>
   <br>
   <!-- Add icon library -->
   
    <div class="card">
    {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" alt="Marco">

    {% else %}
        <img src="{% static 'Blog\images\user.png' %}" alt="User">
    {% endif %}
    <div class="information">

        <h1 class="name">

            {{ page_user.user.first_name }}
            {{ page_user.user.last_name }}

        </h1>

        <p class="bio">{{ page_user.bio }}</p>

        <div class="social">
            {% if page_user.website_url %}
                <a href="{{ page_user.website_url }}"><i class="fa fa-dribbble"></i></a>
            {% endif %}

            {% if page_user.twitter_url %}
                <a href="{{ page_user.twitter_url }}"><i class="fa fa-twitter"></i></a>
            {% endif %}

            {% if page_user.linkedin_url %}
                <a href="{{ page_user.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
            {% endif %}

            {% if page_user.github_url %}
                <a href="{{ page_user.github_url }}"><i class="fa fa-github"></i></a>
            {% endif %}

        </div>
    </div>
    </div> 

</body>
</html>





{% endblock %}